<%- include("header.ejs") -%>

    <div class="box" id="heading"> 
        <% if(listTitle === "Saturday" || listTitle === "Sunday"){ %>
    <h1 style="color:rosybrown;"><%= kindOfDay %> <br>To Do List</h1>  
 <%   } else { %>
     <h1 style="color: lightskyblue;"> <%= listTitle %> <br> To Do List</h1>   
 <%   } %>
    </div>
   

    <div class="box">
            <% for(let i = 0; i < newListItems.length; i++){ %>
                <div class="item">
                    <input type="checkbox">
                    <p><%= newListItems[i] %></p>
                </div>
            <%  } %>

         <form class="item" action="/" method="POST"> 
         <input type="text" name="newItem" placeholder="What else to do?" autocomplete="off">
         <button type="submit" name="list" value=<%= listTitle %>>+</button>
         </form>
    </div>



<%- include("footer.ejs") -%>